body{
	box-sizing: border-box;
}

.heading{
	display: flex;
	align-items: center;
}

.heading__logo{
    background-color: #fff;
    color: #295091;
    font-size: 28px;
	line-height: 33px;
	padding: 4px 8px;
	border-radius: 5px;
}

.money{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 260px;
	margin-left: 23px;
	margin-right: auto;
}

.money__span{
	display: flex;
	align-items: center;
	line-height: 19px;
	color:#7688A4;
}

.money__span span{
	color: #285193;
	font-weight: bold;
	margin-right: 5px;
}

.search{
	display: flex;
	align-items: center;
	position: relative;
	height: 40px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #fff;
	width: 40px;
	transition: width 0.5s ease;
}

.search:hover{
	width: 170px;
}

.search:hover .search__input{
	width: 120px;
	height: 40px;
}

.search::after{
	content: "";
	position: absolute;
	right: 0;
	width: 40px;
	height: 40px;
	background-image: url("../img-1/search.svg");
	background-size: 35px;
	background-position: 100% 3px;
	background-repeat: no-repeat;
}

.search__input{
	width: 0;
	height: 0;
	border:none;
	outline: none;
	margin-left: 10px;
	width: 120px;
	transition: width 0.1s 0.5s ease,
				height 0.1s 0.5s ease
}

/*lang-change*/

.lang-change{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 65px;
	position: relative;
	margin-left: 20px;
	border-radius: 5px;
}

.lang-span{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 5;
	background-color: #fff;
	height: 40px;
	width: 100%;
	border:none;
	border-top:solid 0.01px transparent;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.lang-span__img{
	border-radius: 50%;
}

.lang{
	display: inline-flex;
	flex-direction: column;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	transition: top 0.5s ease;
}

.lang__li{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 40px;
	width: 65px;
	transition: top 0.5s ease;
}

.lang__li:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.lang-change:hover .lang__li:first-child{
	top: 40px;
	background-color: #fff;
}	

.lang-change:hover .lang__li:last-child{
	top: 80px;
	background-color: #fff;
}

.subscribe-telegram{
	display: flex;
	align-items: center;
	padding: 10px;
	background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
	margin-left: 24px;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	color:white;
}

.subscribe-telegram>img{
	margin-right: 7px;
}

.subscribe-telegram:hover{
	background: linear-gradient(90deg, #5096C8 15.07%, #00AEE2 85.96%);
}

/*end of heading*/

.header-nav-wrapper{
	display: flex;
	justify-content: center;
	background-color: #fff;
	border-radius: 5px;
}

.header-nav{
	display: flex;
	justify-content: space-between;
	width: 1150px;
	background-color: #fff;
	padding: 21px 24px;
}

.header-nav__li{
	display: inline-block;
}

.ad{
	margin-top: 18px;
}

/*end of header*/

.index-main{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	background-color: #fff;
	padding-bottom: 40px;
}

.virus-info{
	margin-top: 22px;
	background-color: #F6F6F9;
	padding: 30px 35px;
}

.info-list{
	display: flex;
	align-items: center;
	width: 100%;
}

.info-list__li:first-child{
	border-right:solid 2px #EB5569;
	height: 74px;
}

.info-list__li{
	display: flex;
	align-items: center;
	border-right:solid 2px #F4CCD1;
	height: 49px;
}

.info-list__li:last-child{
	border:none;
}

.info-list__li-p{
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	width: 232px;
	margin-left: 25px;
	margin-right: 71px;
}

.vir{
	margin-left: 29px;
	margin-right: 18px;
}

.info-list__li-text span{
	display: inline-block;
	font-size: 18px;
	line-height: 21px;
}

.color-green{
	color: #05B135;
}

.color-red{
	color: #DB0000;
}

.info-list__li-text{
	display: flex;
	flex-direction: column;
	margin-right: 50px;
}

.info-list__li-text span:last-child{
	font-weight: 500;
	font-size: 25px;
	margin-top: 3px;
}

/*end of info-list*/

.news-list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1200px;
}

.news-list-li{
	margin-top: 18px;
	width: 386px;
}

.news-head{
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	margin-top: 11px;
}

.news-time{
	display: inline-block;
	margin-top: 11px;
	color: #6B6D97;
}

/*end of news*/

.notifications{
	display: flex;
	align-items: center;
	padding: 25px 20px;
	width: 100%;
	background-color: #FCF3E0;
	border-radius: 5px;
	margin-top: 34px;
}

.not-p{
	margin-right: auto;
	font-weight: 500;
	font-size: 20px;
	margin-left: 17px;
}

.on-notification{
	display: inline-block;
	border: none;
	background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
	width: 264px;
	height: 42px;
	color:white;
	border-radius: 5px;
}

.on-notification:hover{
	background: linear-gradient(90deg, #FE5C2599 0%, rgba(255, 139, 54) 88.43%);
}

/*end of notification*/

.last-news{
	display: flex;
	align-items: flex-start;
	margin-top: 40px;
}

.last-news-section{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.last-news__head{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.news-about-list__li>a{
	display: flex;
	margin-top: 13px;
}

.news-about-list__li>a>img{
	margin-right: 18px;
}

.about-news-box{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: inherit;
}

.about-news-box h3{
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	color: #202020;
}

.about-news-box p{
	width: 512px;
	color: #434343;
	font-size: 15px;
	line-height: 18px;
}

.about-news-box time{
	display: flex;
	align-items: center;
	color: #7688A4;
}

.more-news{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 211px;
	height: 42px;
	color: white;
	background-color: #295093;
	border-radius: 5px;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
}


.popular-news{
	display: flex;
	flex-direction: column;
	width: 386px;
	margin-left: 20px;
}

.list-wrapper{
	padding: 20px;
	background: #F6F6F9;
	border-radius: 5px;
	height: 542px;
}

.popular-news__head{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #202020;
}

.pop-news-li a{
	display: inline-block;
	width: 346px;
	border-bottom: solid 4px #E4E4E4;
}

.pop-news-li:first-child a p{
	margin-top: 6px;
}

.pop-news-li:last-child a{
	border: none;
}

.pop-news-li a p{
	margin-top: 18px;
	font-size: 17px;
	line-height: 20px;
	color: #202020;
}

.pop-news-li a time{
	display: inline-block;
	margin-top: 11px;
	margin-bottom: 14px;
	font-size: 14px;
	line-height: 17px;
	color: #7688A4;
}

.ad1{
	margin-top: 20px;
}

.section{
	display: flex;
	align-items: center;
	margin-top: 40px;
	padding: 20px;
	height: inherit;
	box-sizing: border-box;
	background-color: #F6F6F9;
	background-image: url("../img-1/group.png");
	background-size: 236px 177px;
	background-position: 19px 37px;
	background-repeat: no-repeat;
	width: 1200px;
	height: 214px;
	border-radius: 5px;
}

.section-text{
	width: 526px;
	margin-left: 245px;
	margin-right: auto;
	font-weight: 500;
}

.section-text h3{
	font-size: 24px;
	line-height: 28px;
	margin: 0;
	padding: 0;
	color:#295093;
	font-weight: 500;
}

.section-text p{
	color: #333333;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}

.link a:nth-child(2){
	margin-left: 20px;
}

/*end of main*/

/*footer*/

.index-footer{
	display: flex;
	justify-content: center;
	height: 225px;
	background-color: #295093;
	color:white;
	padding-bottom: 28px;
}

.subscribe-telegarm2{
	display: inline-flex;
	align-items: center;
	color: #295093;
	background-color: #fff;
}

.footer-link{
	display: flex;
	align-items: center;
	margin-top: 18px;
}

.footer-link h2{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #133C82;
	font-size: 16px;
	line-height: 19px;
	color:white;
	border-radius: 5px;
	width: 194px;
	height: 38px;
}

.footer-link p{
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	margin-left: auto;
	margin-right: 17px;
}

.subscribe-telegarm2{
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 132px;
	height: 38px;
	border-radius: 5px;
	padding: 9px 14px 9px 9px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}

.subscribe-telegarm2 img{
	margin-right: 6px;
}

.horizontal-line{
	display: inline-block;
	margin-top: 18px;
	background-color: #133C82;
	height: 3px;
	border:none;
}

.footer-text{
	display: flex;
}

.about{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 365px;
	height: 121px;
}

.about p{
	font-weight: normal;
}

.about h2,p{
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}

.footer-text a{
	color: white;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}

.footer-text a:hover{
	color: rgba(0,0,0,0.5);
}

.information, .used-materials, .about{
	padding-top: 12px;
}

.information ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 111px;
	width: 163px;
	height: 106px;
}

.used-materials ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 225px;
	margin-left: 115px;
}

.used-materials ul li{
	margin-top: 15px;
}

.used-materials ul li:first-child{
	margin: 0;
}

