.last-news{
	display: flex;
	align-items: flex-start;
	margin-top: 40px;
}

.last-news-section{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.last-news__head{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.news-about-list__li>a{
	display: flex;
	margin-top: 13px;
}

.news-about-list__li>a>img{
	margin-right: 18px;
}

.about-news-box{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: inherit;
}

.about-news-box h3{
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	color: #202020;
}

.about-news-box p{
	width: 512px;
	color: #434343;
	font-size: 15px;
	line-height: 18px;
}

.about-news-box time{
	display: flex;
	align-items: center;
	color: #7688A4;
}

.more-news{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 211px;
	height: 42px;
	color: white;
	background-color: #295093;
	border-radius: 5px;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
}


.popular-news{
	display: flex;
	flex-direction: column;
	width: 386px;
	margin-left: 20px;
}

.list-wrapper{
	padding: 20px;
	background: #F6F6F9;
	border-radius: 5px;
	height: 542px;
}

.popular-news__head{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #202020;
}

.pop-news-li a{
	display: inline-block;
	width: 346px;
	border-bottom: solid 4px #E4E4E4;
}

.pop-news-li:first-child a p{
	margin-top: 6px;
}

.pop-news-li:last-child a{
	border: none;
}

.pop-news-li a p{
	margin-top: 18px;
	font-size: 17px;
	line-height: 20px;
	color: #202020;
}

.pop-news-li a time{
	display: inline-block;
	margin-top: 11px;
	margin-bottom: 14px;
	font-size: 14px;
	line-height: 17px;
	color: #7688A4;
}

.ad1{
	margin-top: 20px;
}

.index-main{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	background-color: #fff;
	padding-bottom: 40px;
}

main{
	background-color: #fff;
}